version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      timezone: "America/Santiago"
    open-pull-requests-limit: 10
    groups:
      dev-dependencies:
        patterns:
          - "pytest*"
          - "black"
          - "flake8*"
          - "coverage"
        update-types:
          - "minor"
          - "patch"
      production-dependencies:
        patterns:
          - "requests*"
          - "backoff"
        update-types:
          - "minor"
          - "patch"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore"
      include: "scope"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "ci"
