attrs==25.3.0
backoff==1.11.1
black==21.12b0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
coverage==5.5
flake8==3.9.2
flake8-bugbear==21.11.29
idna==3.10
iniconfig==2.1.0
mccabe==0.6.1
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
py==1.11.0
pycodestyle==2.7.0
pyflakes==2.3.1
pytest==6.2.5
python-decouple==3.8
requests==2.32.3
requests-toolbelt==1.0.0
toml==0.10.2
tomli==1.2.3
-e git+https://github.com/delta575/trading-api-wrappers@c83a0a9ba4af3bf7b7bd77bf7e69a56a6e661ae1#egg=trading_api_wrappers
typing_extensions==4.13.2
urllib3==2.4.0
